<div class="header-details flexrow">
    <div class="flexcol">
        <h3 class="charname">
            <input name="name" type="text" value="{{displayName}}" placeholder="{{localize "D35E.Name"}}"/>
        </h3>
    </div>
</div>