  <div class="name-and-art">
    {{#with document}}
      <div class="item-art-container">
        <img class="item-art" src="{{img}}" title="{{displayName}}" />
      </div>

      <header class="sheet-header flexrow">
          {{> (lookup partials 'header')}}
      </header>
    {{/with}}
  </div>