<ul class="weapon-summary">
    {{#with document}}
        <li>
            {{localize localizedType}}
        </li>
        <li>
            {{localize system.weaponType}}
        </li>
        <li>
            {{localize system.weaponSubtype}}
        </li>
    {{/with}}
</ul>
