<ul class="weapon-summary">
    {{#with document}}
        <li>
            {{itemType}}
        </li>
        <li>
            {{system.weaponType}}
        </li>
        <li>
            {{system.weaponSubtype}}
        </li>
    {{/with}}
</ul>