<div class="name-and-art">
  {{#with document}}
    <div class="item-art-container">
      <img class="item-art" src="{{img}}" title="{{displayName}}" data-edit="img" data-action="editImage" />
    </div>
  {{/with}}

  <div class="item-name-container">
    {{> (lookup partials 'header')}}
  </div>
</div>