
<div class="identifiable-header-main">
  {{#if (or showUnidentifiedInfoMode.showBoth showUnidentifiedInfoMode.showOnlyIdentified)}}
    {{> "_itemName"
        labelKey=(ternary isIdentifiable "D35E.IdentifiedName" "D35E.ItemName")
        value=(ternary showUnidentifiedInfoMode.showBoth document.identifiedDisplayName document.displayName)
    }}
  {{/if}}
  {{#if showUnidentifiedInfoMode.showBoth}}
    <hr />
  {{/if}}
  {{#if (or showUnidentifiedInfoMode.showBoth showUnidentifiedInfoMode.showOnlyUnidentified)}}
    {{> "_itemName"
        labelKey="D35E.UnidentifiedName"
        value=document.unidentifiedDisplayName
    }}
  {{/if}}
</div>