<section class="banner">
    <hr />
    {{> toggleSwitch
        name="system.isIdentifiable"
        label="D35E.IsIdentifiable"
        trueLabel="D35E.Yes"
        falseLabel="D35E.No"
        checked=document.system.isIdentifiable
    }}
    <hr />
</section>