.dnd35e.item-sheet {
    .tab.description {

        label {
            font-size: 1.25rem;
            text-decoration: underline;
        }
        .form-fields {
            margin-top: 0.5rem;
        }
    }
}