<div class="item-header">
    {{> (lookup partials 'headerMain')}}

    <div class="item-subtitle">
        <h4 class="item-type">{{localize itemType}}</h4>
    </div>

    {{> (lookup partials 'headerSummary')}}
</div>
