<label class="toggle-switch">
  <input 
    type="checkbox" 
    name="{{name}}" 
    {{#if checked}}checked{{/if}} 
    {{#if disabled}}disabled{{/if}}
  >
  <span class="slider"></span>
  {{#if label}}
    <span class="switch-label">{{label}}</span>
  {{/if}}
</label>
